.option-wrapper h5 {
    border: 1px solid purple;
    padding: 28px;
    cursor: pointer;
    border-radius: 13px;
    transition: .3s;
}

.option-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.option-wrapper h5:hover {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,45,184,1) 0%, rgba(179,29,253,1) 100%);
    color: #fff;
}

span {
    cursor: pointer;
    margin-left: 28px;
}
.qna-wrapper {
    padding: 32px;
    border-radius: 22px;
}

@media (max-width: 768px) {  
    .option-wrapper {
       
        grid-template-columns: 1fr;
        
    }
}
